

.profile {
    position: relative;
}

.profileInfo {
    display: flex;
    padding-top: 30px;
    margin-left: 40px;
}

.photo {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: whitesmoke;
}
.photo button {
    width: 156px;
}

.imgContent2 {
    width: 156px;
}

.info {
    padding-top: 20px;
    padding-left: 20px;
    height: 196px;
    width: 700px;
    background-color: whitesmoke;
}

