.postBlock {
    margin-top: -5px;
    margin-left: 235px;
    width: 722px;
    background-color: whitesmoke;
}

.myPost {

}

.post {
    width: 600px;
    margin-left: 10px;
}

.title {
    padding-top: 15px;
    text-align: center;
    width: 660px;
}
.post textarea {
    margin-top: 40px;
    margin-left: 50px;


}

.posts {
}


