.subBlock {
    position: absolute;
    left: 40px;
    width: 196px;
    height: 270px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    text-align: center;
}

.myFriends {
    display: flex;
    flex-wrap: wrap;
}

.all {
    color: #29579b;
    margin: 0 auto 10px;

}