.App {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
    'header header'
    'nav profile';

    grid-template-rows: 1fr 10fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.content {
    grid-area: profile;
    background-color: aqua;
}
.imgContent1 {
    width: 100%;
}

.imgContent2 {
    width: 256px;
}

a {
    color: white;
}
.active {
    color: #080850;
}