.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: aqua;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.message {

}

a {
    text-decoration: none;
}

.dialog {
    color: black;
}