.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems a.dialog {
    color: #89891b;
}

.messages {
    padding: 10px;
}

.message {

}

a {
    text-decoration: none;
}
