.nav {
    margin-top: 70px;
    grid-area: nav;
}

.navBlock {
    position: fixed;
    margin-top: 10px;
    margin-left: 35px;
}

.navBlock div {
    margin-bottom: 4px;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: #29579b;
}


